@import './reset';
@import './fonts/googleFonts';
@import './variables/global';

body {
  color: var(--primary-color);
  font: var(--font-extra-m);
}

.app {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  background-color: var(--primary-bg-color);

  overflow-x: hidden;
}

.page-content {
  display: flex;
}

.page {
  flex-grow: 1;
}
