:root {
  // Fonts
  --font-family-main: 'Ubuntu', sans-serif;
  --font-family-extra: 'Ubuntu Mono', monospace;
  --font-size-xxs: 15px;
  --font-size-xs: 18px;
  --font-size-s: 20px;
  --font-size-m: 30px;
  --font-size-l: 40px;
  --font-size-xl: 60px;
  --line-height-xxs: 15px;
  --line-height-xs: 18px;
  --line-height-s: 20px;
  --line-height-m: 30px;
  --line-height-l: 40px;
  --line-height-xl: 60px;
  --font-extra-xxs: var(--font-size-xxs) / var(--line-height-xxs)
    var(--font-family-extra);
  --font-extra-xs: var(--font-size-xs) / var(--line-height-xs)
    var(--font-family-extra);
  --font-extra-s: var(--font-size-s) / var(--line-height-s)
    var(--font-family-extra);
  --font-extra-m: var(--font-size-m) / var(--line-height-m)
    var(--font-family-extra);
  --font-main-m: var(--font-size-m) / var(--line-height-m)
    var(--font-family-main);
  --font-main-l: var(--font-size-l) / var(--line-height-l)
    var(--font-family-main);
  --font-main-xl: var(--font-size-xl) / var(--line-height-xl)
    var(--font-family-main);

  // Gaps
  --gap-xxs: 15px;
  --gap-xs: 30px;
  --gap-s: 40px;
  --gap-m: 60px;
  --gap-l: 80px;
  --gap-xl: 120px;
  --gap-xxl: 185px;

  // Indents
  --template-indent: 15px;
  --footer-indent: 15px;
  --header-indent: 15px;

  // Colors
  --primary-bg-color: #000;
  --primary-color: #fff;
  --primary-color-30: rgb(255 255 255 / 30%);
  --secondary-color: #000;
  --extra-color: #22e335;
  --gradient-1-color-1: #0f6;
  --gradient-1-color-2: #0091e2;
  --gradient-2-color-1: #0ff;
  --gradient-2-color-2: #ff18e8;
  --gradient-3-color-1: #00ff47;
  --gradient-3-color-2: #6d00c2;
  --gradient-4-color-1: #ffec41;
  --gradient-4-color-2: #ff6b00;
  --gradient-5-color-1: #14ff00;
  --gradient-5-color-2: #db01ff;
  --gradient-6-color-1: #00ff19;
  --gradient-6-color-2: #940097;
  --gradient-7-color-1: #17ff6b;
  --gradient-7-color-2: #00a6da;
  --gradient-8-color-1: #250d23;
  --gradient-8-color-2: #8d18e8;
  --gradient-9-color-1: #77cc4f;
  --gradient-9-color-2: #2f469b;
  --gradient-9-color-3: #8c18e8;
  --gradient-10-color-1: #09c05a;
  --gradient-10-color-2: #22182e;
  --gradient-10-color-3: #110213;
  --gradient-11-color-1: #120115;
  --gradient-11-color-2: #230e3a;
  --gradient-11-color-3: #1760ae;
  --gradient-13-color-1: #14ff00;
  --gradient-13-color-2: #8b22cc;

  // Gradients
  --gradient-1: linear-gradient(
    94.59deg,
    var(--gradient-1-color-1) 0.84%,
    var(--gradient-1-color-2) 75.46%
  );
  --gradient-2: linear-gradient(
    90deg,
    var(--gradient-2-color-1) -32.31%,
    var(--gradient-2-color-2) 139.23%
  );
  --gradient-2-1: linear-gradient(90deg, #0091e2 0, #c24bb6 100%);
  --gradient-3: linear-gradient(
    94.35deg,
    var(--gradient-3-color-1) -10.47%,
    var(--gradient-3-color-2) 102.48%
  );
  --gradient-4: linear-gradient(
    65.29deg,
    var(--gradient-4-color-1) 14.23%,
    var(--gradient-4-color-2) 68.42%
  );
  --gradient-5: linear-gradient(
    180deg,
    var(--gradient-5-color-1) 0%,
    var(--gradient-5-color-2) 100%
  );
  --gradient-6: linear-gradient(
    93.03deg,
    var(--gradient-6-color-1) 19.64%,
    var(--gradient-6-color-2) 74.47%
  );
  --gradient-7: linear-gradient(
    90deg,
    var(--gradient-7-color-1) -12.5%,
    var(--gradient-7-color-2) 111.25%
  );
  --gradient-8: linear-gradient(
    90deg,
    var(--gradient-8-color-1) -32.31%,
    var(--gradient-8-color-2) 139.23%
  );
  --gradient-9: linear-gradient(
    90deg,
    var(--gradient-9-color-1) 6.4%,
    var(--gradient-9-color-2) 39.02%,
    var(--gradient-9-color-3) 69.85%
  );
  --gradient-10: linear-gradient(
    85.96deg,
    var(--gradient-10-color-1) 5.45%,
    var(--gradient-10-color-2) 62.26%,
    var(--gradient-10-color-3) 96.23%
  );
  --gradient-11: linear-gradient(
    86.95deg,
    var(--gradient-11-color-1) 8.48%,
    var(--gradient-11-color-2) 36.77%,
    var(--gradient-11-color-3) 94.75%
  );
  --gradient-12: linear-gradient(
    180deg,
    var(--gradient-4-color-1) 11.57%,
    var(--gradient-1-color-1) 43.96%,
    var(--gradient-2-color-1) 60.39%
  );
  --gradient-13: linear-gradient(
    254.53deg,
    var(--gradient-13-color-1) -6.55%,
    var(--gradient-13-color-2) 87.98%
  );

  // Transitions
  --transition-duration-fast: 0.05s;
  --transition-duration-normal: 0.2s;
  --transition-function: ease-in;
}

@media only screen and (min-width: 744px) {
  :root {
    --template-indent: 45px;
    --footer-indent: 45px;
    --header-indent: 45px;
  }
}

@media only screen and (min-width: 1024px) {
  :root {
    --template-indent: 70px;
    --footer-indent: 70px;
    --header-indent: 70px;
  }
}

@media only screen and (min-width: 1280px) {
  :root {
    --template-indent: 115px;
    --footer-indent: 115px;
    --header-indent: 115px;
  }
}

@media only screen and (min-width: 1440px) {
  :root {
    --template-indent: 150px;
    --footer-indent: 150px;
    --header-indent: 150px;
  }
}

@media only screen and (min-width: 1920px) {
  :root {
    --template-indent: 350px;
    --footer-indent: 185px;
    --header-indent: 185px;
  }
}

@media only screen and (min-width: 2560px) {
  :root {
    --template-indent: 380px;
    --footer-indent: 345px;
    --header-indent: 345px;
  }
}
