.MainBanner {
  display: flex;
  flex-direction: column;

  padding: 115px 0 90px;
}

.BannerInfo {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.BannerTitle {
  max-width: 600px;

  color: var(--primary-color);
}

.BannerButtons {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: max-content max-content;

  margin-top: 35px;

  column-gap: 15px;
}

.BannerLink {
  text-decoration: none;
}

.BannerButton {
  width: 135px;
}

.BannerImageContainer {
  display: flex;

  margin-top: 80px;
}

.BannerImage {
  width: 760px;

  transform: translateX(-70px);
}

@media only screen and (min-width: 744px) {
  .MainBanner {
    padding-top: 150px;
  }

  .BannerButtons {
    margin-top: 55px;

    column-gap: 25px;
  }

  .BannerButton {
    width: 160px;
  }

  .BannerImageContainer {
    margin-top: 130px;
  }

  .BannerImage {
    width: 1066px;

    transform: translateX(-95px);
  }
}

@media only screen and (min-width: 1024px) {
  .MainBanner {
    padding-top: 205px;
  }

  .BannerButtons {
    margin-top: 100px;
  }

  .BannerImageContainer {
    margin-top: 145px;
  }

  .BannerImage {
    width: 1240px;
  }
}

@media only screen and (min-width: 1280px) {
  .MainBanner {
    display: flex;
    flex-flow: column wrap;

    max-height: 600px;
    padding: 60px 0 200px;
  }

  .BannerInfo {
    z-index: 1;

    margin-top: 70px;
  }

  .BannerButtons {
    margin-top: 55px;
  }

  .BannerImageContainer {
    margin-top: 0;
  }

  .BannerImage {
    width: 692px;
  }
}

@media only screen and (min-width: 1440px) {
  .MainBanner {
    max-height: 670px;
    padding: 90px 0 220px;
  }

  .BannerInfo {
    margin-top: 85px;
  }

  .BannerButtons {
    margin-top: 70px;
  }

  .BannerButton {
    width: 180px;
  }

  .BannerImage {
    width: 750px;
  }
}

@media only screen and (min-width: 1920px) {
  .MainBanner {
    max-height: 940px;
    padding: 155px 0 375px;
  }

  .BannerInfo {
    margin-top: 100px;
  }

  .BannerButtons {
    margin-top: 75px;
  }

  .BannerButton {
    width: 220px;
  }

  .BannerImage {
    width: 850px;

    transform: translateX(-60px);
  }
}

@media only screen and (min-width: 2560px) {
  .MainBanner {
    max-height: 1190px;
    padding: 270px 0 340px;
  }

  .BannerInfo {
    margin-top: 140px;
  }

  .BannerTitle {
    max-width: 840px;
  }

  .BannerImage {
    width: 1220px;

    transform: translateX(-100px);
  }
}
