.Header {
  --border-width: 4px;
  position: relative;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content max-content;
  gap: 40px;
  justify-content: space-between;
  align-items: flex-end;

  margin-bottom: 50px;
  padding: 50px var(--header-indent) 15px;

  border-style: solid;
  border-width: 0 0 var(--border-width) 0;
  border-image-source: var(--gradient-9);
  border-image-slice: 1;
}

.HeaderNavbar {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  right: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  height: fit-content;
  padding: 0 15px;
}

.HeaderSwitcher {
  margin-left: auto;
}

@media only screen and (min-width: 744px) {
  // .Header {
  //   grid-template-columns: max-content 1fr max-content;

  //   margin-bottom: unset;
  // }

  // .HeaderNavbar {
  //   position: relative;
  //   top: unset;
  //   left: unset;
  //   right: unset;

  //   flex-wrap: nowrap;

  //   width: fit-content;
  //   margin-left: auto;
  //   padding: unset;
  // }
}

@media only screen and (min-width: 1024px) {
  .Header {
    grid-template-columns: max-content 1fr max-content;
    gap: 50px;

    margin-bottom: unset;
    padding-bottom: 25px;
  }

  .HeaderNavbar {
    position: relative;
    top: unset;
    left: unset;
    right: unset;

    flex-wrap: nowrap;

    width: fit-content;
    margin-left: auto;
    padding: unset;
  }
}

@media only screen and (min-width: 1280px) {
  .Header {
    gap: 60px;
  }
}

@media only screen and (min-width: 1440px) {
  .Header {
    padding-bottom: 35px;
  }
}

@media only screen and (min-width: 2560px) {
  .Header {
    gap: 75px;
  }
}
